---
permalink: "/gallery/"
layout: default
---

	{% include jumbotron.html %}
	<style>
	  .hero{
	      height: 124px;
	  }
	  .hero .container{
	    display:none;
	  }
	  header .container{
	    border-bottom:0;
	  }
		
		article.post{
		    float: left;
		    width: 33%;
		    padding: 3rem 1.5rem;
		    border: none;
		}
		
		article.post img{
			max-width:100%;
		}
		
		article.post em{
			display:block;
			text-align:center;
			font-style:normal;
		}
		
	</style>
	<section class="about">
		<div class="posts container">
			<h2 class="text-center">GALLERY</h2>
			
			{% for post in site.categories.Gallery %}
			<article class="post">
				<div class="entry">
					<a href="{{ site.baseurl }}{{ post.url }}">
						{{ post.excerpt }}
					</a>
				</div>
				<em><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></em>
			</article>
			{% endfor %}
		</div>
	</section>
