---
layout: default
---

	<!--  Jumbotron Section  -->
	{% include jumbotron.html %}
	<!--  End Jumbotron Section  -->

	{% include about.html %}

	{% include contact.html %}

	<section class="about">
		<div class="posts container text-center">
			{% for post in site.posts %}
			<article class="post">

			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

			<!--<div class="entry">
			{{ post.excerpt }}
			</div>-->

			<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Baca Selengkapnya</a>
			</article>
			{% endfor %}
		</div>
	</section>
