	<!--  Contact Us Section -->
	<section class="subb">
		<div class="sub_box container">
			<h2 class="cta_text animated wow fadeIn">CONTACT US</h2>
			<form action="" metohd="post" class="animated wow fadeIn" data-wow-duration="2s" id="submit_form">
				<input type="email" id="mc-email" placeholder="Enter your email"/>
				<a href="https://mail.google.com/mail/?view=cm&fs=1&to=inquiry@teluklamong.co.id&su=Hallo, We Need an Info..&bcc=errol.widhavian@gmail.com" id="mc_submit">
					<i class="icon"></i>
				</a>
			</form>
			<!--<div class="message" id="error_msg">Please Enter A Valid Email.</div>
			<div class="message" id="success_msg">Thank You For Your Subscription.</div>-->
			<p>This will open Gmail for email composer. Make sure you are login to your GOOGLE account.</p>
		</div>
	</section>
	<!-- // Contact Us Section  -->
